<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head, useForm } from '@inertiajs/vue3';


</script>

<template>
    <AuthenticatedLayout>
        <Head title="Create Tooleht" />
        <select>
            <template v-for="category in categories">
                <optgroup label="category.name">
                    <option v-for="subcategory in category.subcategories" :value="subcategory.id">
                        {{ subcategory.name }}
                    </option>
                </optgroup>
            </template>
        </select>
    </AuthenticatedLayout>
</template>
