<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
</script>

<template>
    <Head title="Tööleht" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Tööleht</h2>
        </template>
        <div>
            <form @submit.prevent="submit" class="w-fit p-6 m-auto grid grid-rows-4 grid-flow-col">
                <div>
                    <select class="" v-model="selectedOption" name="kauplus">
                    <optgroup label="Konsumid">
                        <option value="" hidden="">Sündmused</option>
                        <option value="Kaubaait">Kaubaait</option>
                        <option value="Liiva Konsum">Liiva Konsum</option>
                        <option value="Orissaare Konsum">Orissaare Konsum</option>
                        <option value="Port Artur Konsum">Port Artur Konsum</option>
                        <option value="Salme Konsum">Salme Konsum</option>
                        <option value="Tooma Konsum">Tooma Konsum</option>
                    </optgroup>
                    <optgroup label="Kauplused">
                        <option value="Aste kauplus">Aste kauplus</option>
                        <option value="Eikla kauplus">Eikla kauplus</option>
                        <option value="Hellamaa kauplus">Hellamaa kauplus</option>
                        <option value="Kihelkonna kauplus">Kihelkonna kauplus</option>
                        <option value="Kärla kauplus">Kärla kauplus</option>
                        <option value="Leisi kauplus">Leisi kauplus</option>
                        <option value="Lümanda kauplus">Lümanda kauplus</option>
                        <option value="Mustjala kauplus">Mustjala kauplus</option>
                        <option value="Nasva kauplus">Nasva kauplus</option>
                        <option value="Pihtla kauplus">Pihtla kauplus</option>
                        <option value="Pärsama kauplus">Pärsama kauplus</option>
                        <option value="Ranna kauplus">Ranna kauplus</option>
                        <option value="Roomassaare kauplus">Roomassaare kauplus</option>
                        <option value="Saikla kauplus">Saikla kauplus</option>
                        <option value="Tagavere kauplus">Tagavere kauplus</option>
                        <option value="Tornimäe kauplus">Tornimäe kauplus</option>
                        <option value="Valjala kauplus">Valjala kauplus</option>
                    </optgroup>
                    <optgroup label="Muu">
                        <option value="Maiasmokk">Maiasmokk</option>
                        <option value="Saaremaa Kaubamaja">Saaremaa Kaubamaja</option>
                    </optgroup>
                    </select>

                    <select>
                        <optgroup label="Kassa">
                            <option value="" hidden="">Sündmused</option>
                            <option value="kassa_arvuti">Arvuti</option>
                            <option value="kassa_ekraan">Ekraan</option>
                            <option value="kassa_kaal">Kassa kaal</option>
                            <option value="kassa_kliendiekraan">Kliendiekraan</option>
                            <option value="kassa_klaviatuur">Klaviatuur</option>
                            <option value="rahakontroll">Raha kontrollija</option>
                            <option value="kassa_skanner">Skänner</option>
                            <option value="terminal">Terminal</option>
                            <option value="kassa_tsekiprinter">Tšekiprinter</option>
                            <option value="kassa_zebra">Zebra</option>
                        </optgroup>
                        <optgroup label="Kontor">
                            <option value="arvuti">Arvuti</option>
                            <option value="ekraan">Ekraan</option>
                            <option value="hiir">Hiir</option>
                            <option value="klaviatuur">Klaviatuur</option>
                            <option value="printer">Printer</option>
                            <option value="rahamasin">Rahalugemise masin</option>
                            <option value="skanner">Skänner</option>
                            <option value="telefon">Telefon</option>
                            <option value="zebra">Zebra</option>
                        </optgroup>
                        <optgroup label="Muu">
                            <option value="kaal">Kaal</option>
                            <option value="kaamera">Kaamerad</option>
                            <option value="nutikassa">Nutikassa</option>
                            <option value="pico">Pico/Scorpio</option>
                            <option value="ups">UPS</option>
                            <option value="vork">Võrk</option>
                            <option value="muu">Muu</option>
                        </optgroup>
                    </select>
                </div>

                <textarea v-model="description" placeholder="Töö kirjeldus"></textarea>
                <textarea v-model="description" placeholder="Märkused"></textarea>
            </form>
        </div>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900">You're logged in!</div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
